{{ header }}
<div class='container'>
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    
    <div class="section col-md-12">
    </div>
    
    {{ column_right}}
    {{ content_bottom }}
</div>
{{ footer }}